.main-header h1 {
    text-align: center;
    padding: 10px;
}

.flex-container {
    display: flex;
    background-color: rgb(215, 229, 243);
    flex-direction: column;
}

.flex-container p {
    max-width: 800px;
    margin-bottom: 10px;
}

.app-description h2 {
    text-align: center;
}

.app-description ul li {
    padding: 10px 0;
}
